* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Kdam+Thmor+Pro&family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.main-container {
  height: 600vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.prevent-select{
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.section1 {
  background-image: url(./Images/main-bg.png);
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
}

/* Navbar */
.nav-container {
  /* background-image: url("./dining_Wallpaper.jpg"); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
}

.nav-container .navbar {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homaid-logo {
  height: 65px;
  width: 105px;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.list-container li {
  margin: 10px;
  font-family: "Roboto";
  cursor: pointer;
  font-size: 20px;
  list-style: none;
  color: #000;
}

.list-container li:hover {
  font-size: 25px;
  transition: all ease;
  color: #088f8f;
}

/* Content Container */

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 250px;
  margin-left: 35px;
}

.heading {
  font-size: 95px;
  /* font-family: "Kdam Thmor Pro", sans-serif; */
  font-family: "Copperplate Gothic 3";
  margin-top: -50px;
  /* font-family: 'Gothic A1', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  color: #000;
}

.homaid-desc {
  font-size: 35px;
  font-family: "Gothic";
  margin: 5px;
  color: #313030;
}

.desc {
  font-size: 20px;
  font-family: "Sans";
  color: #767373;
  margin: 5px;
}

/* .section1-btn{
  align-self: ;
} */


/* Buttons */
button {
	margin-top: 120px;
  margin-left: 20px;
	border-radius: 20px;
	background-color: #667292;
	box-shadow: 5px 8px 10px #36486b;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-family: cambria;
	color: #bccad6;
	border: none;
  padding: 5px;
  cursor: pointer;
}

button:hover {
	border: none;
	background-color: #8d9db6;
	opacity: 1;
	color: #fff;
  
}

.center {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.btn:hover {
	transition: 0.5s ease-in-out;
	background: #8d9db6;
}

button {
	--color1: #000;
	--color2: grey;
	font-family: cambria;
	text-align: center;
	font-size: 15px;
	background: repeating-linear-gradient(
		45deg,
		var(--color1),
		var(--color1) 30px,
		var(--color2) 30px,
		var(--color2) 60px
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	animation: 40s linear 0s infinite move;
}

@keyframes move {
	from {
		background-position: 0px;
	}

	to {
		background-position: 1000px;
	}
}


/* About us  */

.section2{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.about-us-img{
  height: 450px;
  width: 46%;
}

.section2-content{
  /* border: 1px solid olive; */
  padding: 25px;
  margin-right: 200px;
}

.section2-heading{
  font-family: "Copperplate Gothic 3";
  font-size: 35px;
  margin-top: 15px;
}

.section2-desc{
  font-size: 20px;
  font-family: "Sans";
  color: #767373;
  margin-top: 35px;
  /* border: 1px solid red; */
}

.section-2-btn{
  margin-top: 25px;
  margin-left: 0;
}


/* Services section  */

.section3{
  max-width: 100vw;
  height: 100vh;
  background-image: url("./Images/30.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.services-heading {
  font-size: 40px;
  font-family: "Kdam Thmor Pro";
  margin-top: 35px;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 1200px;
    margin-top: 20px;
    text-align: center;
}


.card-element {
  height: 455px;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px grey;
}

.card-element:hover {
  box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}

.card-element .content {
  padding: 10px;
}

.card-image {
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 400px;
}

.card-heading {
  font-size: 30px;
  font-family: "Kdam Thmor Pro";
  margin-top: 15px;
}

.card-desc {
  font-size: 15px;
  font-family: "sans-serif";
  margin-top: 15px;
  color: #313030;
}

.services-btn{
  margin-top: 25px;
}


/* Blogs section  */

.section4{
  max-width: 100vw;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.right-content{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 600px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.section4-heading{
  font-size: 50px;
  font-family: "Kdam Thmor Pro";
}

.section4-desc{
  font-size: 18px;
  font-family: "sans-serif";
  margin-top: 15px;
  color: #313030;
}

.section4-img1{
  height: 280px;
  width: 180px;
  margin: 5px;
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px grey;
}

.section4-img2{
  height: 280px;
  width: 180px;
  margin: 5px;
  align-self: flex-start;
  margin-top: 45px;
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px grey;
}

.section4-img3{
  height: 280px;
  width: 180px;
  margin: 5px;
  align-self: flex-start;
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px grey;
}

.section4-img1:hover,.section4-img2:hover,.section4-img3:hover{
  box-shadow: 1px 8px 20px black;
    -webkit-transition:  box-shadow .3s ease-in;
}

/* Satisfied clients */

.section5{
  max-width: 100vw;
  height: 90vh;
  background-image: url("./Images/29.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.section5-left-section{
  margin-top: 35px;
}

.section5-right-section{
  margin-top: 100px;
  padding: 20px;
}

.section5-heading{
  font-size: 40px;
  font-family: "Kdam Thmor Pro";
  margin-left: 25px;
}

.section5-img{
  height: 300px;
  width: 400px;
  border-radius: 15px;
  margin-top: 70px;
  margin-left: 25px;
}

.feedback{
  width: 500px;
  /* border: 1px solid black; */
  padding: 5px;
  margin: 30px;
}

.feedback-desc{
  font-size: 18px;
  font-family: "sans-serif";
  margin-top: 5px;
  color: #000;
}

.feeback-user-name{
  color: #797BE4;
  font-family: sans-serif;
  margin-top: 5px;
  font-size: 13px;
}


/* Contact us */

.section6{
  max-width: 100vw;
  height: 90vh;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section6-img{
  height: 240px;
  width: 100%;
}

.section6-heading{
  font-size: 40px;
  font-family: "Kdam Thmor Pro";
  margin-left: 25px;
  margin-top: 70px;
}

.contact-us-arrow{
  font-size: 25px;
  color: #00040a;
}

.section6-btn{
  margin-left: 60px;
  margin-top: 20px;
  width: 100px;
	height: 35px;
}

.container-heading{
  color: #797BE4;
  font-family: sans-serif;
  margin-top: 5px;
  font-size: 18px;
}

.container-desc{
  font-size: 14px;
  font-weight: 400;
  font-family: "sans-serif";
  margin-top: 5px;
  color: #000;
}

.bottom-left-section{
  margin-left: 45px;
}

.bottom-right-section{
  margin-top: 70px;
  padding: 30px;
  /* border: 1px solid black; */
  height: 300px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container{
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid blue; */
}

.bottom-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



/* Footer section */
